.login {
  @extend %form-container;

  form {
    @extend %form;
  }

  input {
    @extend %form-input;

    &:nth-child(3) {
      background-color: $blue;
      margin-top: 30px;
      color: $white;
      font-weight: 600;
    }
  }

  hr {
    background-color: rgba(0, 0, 0, 0.1);
    width: 30vw;
    height: 2px;
    border: none;
    border-radius: 2px;
    margin: 48px 0;
  }
}

.else-login {
  width: 30vw;
  color: $default-grey;
  display: flex;
  flex-direction: column;

  a {
    @extend %click-to-login;

    &:nth-child(1) {
      background-color: #374151;
      color: $real-white;
      font-weight: 600;
    }

    &:nth-child(2) {
      background-color: rgba(0, 0, 0, 0.1);
      color: $hover-grey;
      font-weight: 600;
    }

    i {
      margin-right: 10px;
    }
  }
}
