.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;

  label {
    background-color: $real-white;
    color: $default-grey;
    width: 70%;
    height: 48px;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  i {
    margin-right: 10px;
  }

  input {
    width: 100%;
    border: none;

    &::placeholder {
      color: $default-grey;
      font-size: $small;
    }

    &:focus {
      outline: none;
    }
  }
}
