extends base

block content
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, type="text", required)
        input(name="description", placeholder="Description", value=video.description, type="text", maxlength="200" ,required)
        input(name="hashtags", placeholder="Hashtags, seperated by commma.", value=video.hashtags.join(), type="text", required)
        input(value="Save", type="submit")