extends base
include mixins/video

block content
  form.search__form(method="GET")
    input(name="keyword", type="text", placeholder="Search by title")
    button
      i.fas.fa-search

  .video-grid
    each video in videos 
      +video(video)
    else
      span.empty__message No videos found
