header
    nav
        ul
            li
                a(href='/')
                    i.fab.fa-youtube
                    span wetube
            if loggedIn
                li(class="logged-in")
                li
                    a(href="/search") Search
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href="/users/logout") Log out
                li
                    a(href=`/users/${loggedInUser._id}`) My Profile
                li
                    a(href="/users/edit") Edit Profile
            else
                li(class="logged-out")
                li
                    a(href="/search") Search
                li
                    a(href="/login") Log in
                li
                    a(href="/join") Join