extends ../base

block content
    form(method="POST" action="/users/change-password")
        input(type="password" name="oldPassword" placeholder="Old password")
        input(type="password" name="newPassword" placeholder="New password")
        input(type="password" name="newPasswordConfirmation" placeholder="New password confirmation")
        input(type="submit" value="Change password")